<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>loian.lightsaber</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>$HOME/Applications/lightsaber 8877 >$HOME/Library/Logs/loian.lightsaber-launchd.stout.log 2\>$HOME/Library/Logs/loian.lightsaber-launchd.sterr.log</string>
        <string>8878</string>
    </array>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
